.admin-table-card{
    width: 80vw;
    margin: 2rem auto;
}

.table{
    width: 100%;
}
.table th{
    text-align: center;
    background: #6b67bd;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
}

.table td{
    text-align: center;
    padding: 10px;
    font-size: 15px;
}
::ng-deep mat-spinner{
    margin: 30% auto;
}  

.table-heading td{
    background: #6b67bd;
    text-align: center;
    background: #6b67bd;
    color: #fff;
    padding: 10px;
    font-size: 15px;
}